# ====================================================================
# GITIGNORE KHUSUS UNTUK DEV-C++ (PROJECT: HONORIFY-CPP)
# ====================================================================

# 1. Mengabaikan File Hasil Kompilasi / Binary Akhir (Wajib)
*.exe
*.out
*.app
*.o
*.obj

# 2. Mengabaikan File Proyek dan Ekstensi Internal Dev-C++
*.win
*.layout
*.depend

# 3. Mengabaikan File Log dan Backup Sementara dari Editor
*.bak
*.tmp
*.log

# 4. Mengabaikan File Sampah dari Sistem Operasi
Thumbs.db
.DS_Store
